BETTER_AUTH_SECRET=CUpRgBmKhvzM7bhb2sibGl1MhoMcEy0g
BETTER_AUTH_URL=https://api.hris.localhost

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hris_admin
POSTGRES_PASSWORD=hris_password
POSTGRES_DB=hris

LOG_LEVEL=debug

NODE_ENV=development

API_PORT=3333