BETTER_AUTH_SECRET=CUpRgBmKhvzM7bhb2sibGl1MhoMcEy0g
BETTER_AUTH_URL=http://localhost:3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=hris_admin
POSTGRES_PASSWORD=hris_password
POSTGRES_DB=hris

API_PORT=3000